<div class="container container-bo">
    <div class="h1 text-center my-5 title-bo">
        BREAKOUT
    </div>
    
    <div class="row">
        <div class="col-10 col-md-5 col-lg-5 mx-auto">                    
            <a href="https://zoom.us/j/91900543571?pwd=cWpOay9CQTloSyt0cXZ3MUNVS2hmdz09" target="_Blank">
                <div class="btn-zoom">Unirse a los breakout rooms</div>
            </a>
        </div>
    </div>
    <div class="h5 text-center my-3  txt-bo">
        <p>ID de reunión: 919 0054 3571</p>
        <p>Código de acceso: 338914</p>
    </div>

    <div class="row">
        <div class="col-10 col-md-5 col-lg-5 mx-auto">
            <a data-fancybox data-src="#instructions" href="javascript:;">
                <div class="btn-instrucciones">Instrucciones</div>
            </a>
        </div>
    </div>
</div>


<div style="display: none;" id="instructions">
    <img src="/img/instructions_es.jpg" class="img-fluid">
</div>