<div class="container">
    <div class="row mt-5">
        <div class="col-12 col-md-9 col-lg-4 pexpert mx-auto">
            <div id="experto">
                <h5 class="text-center my-5 txt-experto">
                    <i class="material-icons prefix">question_answer</i>
                    Pregúntale al experto
                </h5>

                <div class="row">
                    <div class="col-10 col-md-8 col-lg-12 mx-auto">
                        <input type="hidden" id="idioma" value="esp" />
                        <textarea id="question_expert" placeholder="Escribe tu pregunta..."></textarea>
                    </div>
                    <div class="col-8 col-md-5 col-lg-8 mx-auto mt-4">
                        <div class="btn-expert">Enviar</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>