<div class="container p-4">
    <div class="row">
        <div class="col-12 mx-auto">
            <img src="/img/agenda-2.png" class="responsive-img mt-2 agenda" />            
        </div>
    </div>
</div>