<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-7 mx-auto">
            <img src="/img/ponentes-1.png" class="img-fluid my-2" alt="ponentes">
        </div>
    </div>
</div>