<div class="container container-surver my-5">
  <div class="row">
    <div class="col-10 mx-auto my-5">
      <div class="text-center txt-survey bold">
        ¡Muchas gracias por asistir al evento! Es de nuestro total interés
        conocer tu opinión y brindarte un mejor servicio cada día. A
        continuación, encontrarás algunas preguntas que nos ayudarán a mejorar.
      </div>
    </div>
  </div>
  <form id="survey-form">
    <div class="row">
      <div class="col-md-10 col-lg-9 mx-auto">
        <div class="txt-survey">
          1.- ¿Cuál es tu nivel de satisfacción con este programa?
        </div>
      </div>

      <div class="col-lg-8 col-md-9 mx-auto mt-3">
        <p>
          <label>
            <input
              name="question-1"
              value="Muy satisfecho/a"
              type="radio"
              
            />
            <span>Muy satisfecho/a</span>
          </label>
        </p>
        <p>
          <label>
            <input name="question-1" value="Algo satisfecho/a" type="radio" />
            <span>Algo satisfecho/a</span>
          </label>
        </p>
        <p>
          <label>
            <input
              name="question-1"
              value="Ni satisfecho/a ni insatisfecho/a"
              type="radio"
            />
            <span>Ni de acuerdo ni en desacuerdo</span>
          </label>
        </p>
        <p>
          <label>
            <input name="question-1" value="Algo insatisfecho/a" type="radio" />
            <span>Algo insatisfecho/a</span>
          </label>
        </p>
        <p>
          <label>
            <input name="question-1" value="Muy insatisfecho/a" type="radio" />
            <span>Muy insatisfecho/a</span>
          </label>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-lg-9 mx-auto">
        <div class="txt-survey">
          2.- El tema
          <span class="bold">“El poder de la bioestimulación global y focal con
            Radiesse”</span>, impartido por la Dra. Susana Sil ¿te pareció útil
          para tu práctica diaria?
        </div>
      </div>

      <div class="col-lg-8 col-md-9 mx-auto mt-3">
        <p>
          <label>
            <input
              name="question-2"
              value="Totalmente de acuerdo"
              type="radio"
              
            />
            <span>Totalmente de acuerdo</span>
          </label>
        </p>
        <p>
          <label>
            <input name="question-2" value="De acuerdo" type="radio" />
            <span>De acuerdo</span>
          </label>
        </p>
        <p>
          <label>
            <input
              name="question-2"
              value="Ni de acuerdo ni en desacuerdo "
              type="radio"
            />
            <span>Ni de acuerdo ni en desacuerdo </span>
          </label>
        </p>
        <p>
          <label>
            <input name="question-2" value="En desacuerdo" type="radio" />
            <span>En desacuerdo</span>
          </label>
        </p>
        <p>
          <label>
            <input
              name="question-2"
              value="Totalmente en desacuerdo"
              type="radio"
            />
            <span>Totalmente en desacuerdo</span>
          </label>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-lg-9 mx-auto">
        <div class="txt-survey">
          3.- El tema
          <span class="bold">“Radiesse en mi experiencia clínica”</span>,
          impartido por la Dra. Gabriela Casabona ¿te pareció útil para tu
          práctica diaria?
        </div>
      </div>

      <div class="col-lg-8 col-md-9 mx-auto mt-3">
        <p>
          <label>
            <input
              name="question-3"
              value="Totalmente de acuerdo"
              type="radio"
              
            />
            <span>Totalmente de acuerdo</span>
          </label>
        </p>
        <p>
          <label>
            <input name="question-3" value="De acuerdo" type="radio" />
            <span>De acuerdo</span>
          </label>
        </p>
        <p>
          <label>
            <input
              name="question-3"
              value="Ni de acuerdo ni en desacuerdo "
              type="radio"
            />
            <span>Ni de acuerdo ni en desacuerdo </span>
          </label>
        </p>
        <p>
          <label>
            <input name="question-3" value="En desacuerdo" type="radio" />
            <span>En desacuerdo</span>
          </label>
        </p>
        <p>
          <label>
            <input
              name="question-3"
              value="Totalmente en desacuerdo"
              type="radio"
            />
            <span>Totalmente en desacuerdo</span>
          </label>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-lg-9 mx-auto">
        <div class="txt-survey">
          4.- El tema
          <span class="bold">“¿Cómo diagnostico a mis pacientes?”</span>,
          impartido por la Dra. Gabriela Casabona ¿te pareció útil para tu
          práctica diaria?
        </div>
      </div>

      <div class="col-lg-8 col-md-9 mx-auto mt-3">
        <p>
          <label>
            <input
              name="question-4"
              value="Totalmente de acuerdo"
              type="radio"
              
            />
            <span>Totalmente de acuerdo</span>
          </label>
        </p>
        <p>
          <label>
            <input name="question-4" value="De acuerdo" type="radio" />
            <span>De acuerdo</span>
          </label>
        </p>
        <p>
          <label>
            <input
              name="question-4"
              value="Ni de acuerdo ni en desacuerdo "
              type="radio"
            />
            <span>Ni de acuerdo ni en desacuerdo </span>
          </label>
        </p>
        <p>
          <label>
            <input name="question-4" value="En desacuerdo" type="radio" />
            <span>En desacuerdo</span>
          </label>
        </p>
        <p>
          <label>
            <input
              name="question-4"
              value="Totalmente en desacuerdo"
              type="radio"
            />
            <span>Totalmente en desacuerdo</span>
          </label>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-lg-9 mx-auto">
        <div class="txt-survey">
          5.- El tema
          <span class="bold">“Protocolos para bioestimulación corporal”</span>,
          impartido por la Dra. Adriana Cárdenas ¿te pareció útil para tu
          práctica diaria?
        </div>
      </div>

      <div class="col-lg-8 col-md-9 mx-auto mt-3">
        <p>
          <label>
            <input
              name="question-5"
              value="Totalmente de acuerdo"
              type="radio"
              
            />
            <span>Totalmente de acuerdo</span>
          </label>
        </p>
        <p>
          <label>
            <input name="question-5" value="De acuerdo" type="radio" />
            <span>De acuerdo</span>
          </label>
        </p>
        <p>
          <label>
            <input
              name="question-5"
              value="Ni de acuerdo ni en desacuerdo "
              type="radio"
            />
            <span>Ni de acuerdo ni en desacuerdo </span>
          </label>
        </p>
        <p>
          <label>
            <input name="question-5" value="En desacuerdo" type="radio" />
            <span>En desacuerdo</span>
          </label>
        </p>
        <p>
          <label>
            <input
              name="question-5"
              value="Totalmente en desacuerdo"
              type="radio"
            />
            <span>Totalmente en desacuerdo</span>
          </label>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-lg-9 mx-auto">
        <div class="txt-survey">
          6.- El tema
          <span class="bold">“Resultados B&A, collagen match con Ultherapy”</span>,
          impartido por la Dra. Gabriela Casabona ¿te pareció útil para tu
          práctica diaria?
        </div>
      </div>

      <div class="col-lg-8 col-md-9 mx-auto mt-3">
        <p>
          <label>
            <input
              name="question-6"
              value="Totalmente de acuerdo"
              type="radio"
              
            />
            <span>Totalmente de acuerdo</span>
          </label>
        </p>
        <p>
          <label>
            <input name="question-6" value="De acuerdo" type="radio"  />
            <span>De acuerdo</span>
          </label>
        </p>
        <p>
          <label>
            <input
              name="question-6"
              value="Ni de acuerdo ni en desacuerdo "
              type="radio"
              
            />
            <span>Ni de acuerdo ni en desacuerdo </span>
          </label>
        </p>
        <p>
          <label>
            <input
              name="question-6"
              value="En desacuerdo"
              type="radio"
              
            />
            <span>En desacuerdo</span>
          </label>
        </p>
        <p>
          <label>
            <input
              name="question-6"
              value="Totalmente en desacuerdo"
              type="radio"
              
            />
            <span>Totalmente en desacuerdo</span>
          </label>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-lg-9 mx-auto">
        <div class="txt-survey">
          7.- La aplicación en vivo, impartida por nuestras tres ponentes ¿Te
          pareció útil para tu práctica diaria?
        </div>
      </div>

      <di v class="col-lg-8 col-md-9 mx-auto mt-3">
        <p>
          <label>
            <input
              name="question-7"
              value="Totalmente de acuerdo"
              type="radio"
              
            />
            <span>Totalmente de acuerdo</span>
          </label>
        </p>
        <p>
          <label>
            <input name="question-7" value="De acuerdo" type="radio" />
            <span>De acuerdo</span>
          </label>
        </p>
        <p>
          <label>
            <input
              name="question-7"
              value="Ni de acuerdo ni en desacuerdo "
              type="radio"
            />
            <span>Ni de acuerdo ni en desacuerdo </span>
          </label>
        </p>
        <p>
          <label>
            <input name="question-7" value="En desacuerdo" type="radio" />
            <span>En desacuerdo</span>
          </label>
        </p>
        <p>
          <label>
            <input
              name="question-7"
              value="Totalmente en desacuerdo"
              type="radio"
            />
            <span>Totalmente en desacuerdo</span>
          </label>
        </p>
      </di>
    </div>

    <div class="row">
      <div class="col-md-10 col-lg-9 mx-auto">
        <div class="txt-survey">
          8.- ¿Recomendarías este tipo de programas a otros colegas?
        </div>
      </div>

      <div class="col-lg-8 col-md-9 mx-auto mt-3">
        <p>
          <label>
            <input
              name="question-8"
              value="Totalmente de acuerdo"
              type="radio"
              
            />
            <span>Totalmente de acuerdo</span>
          </label>
        </p>
        <p>
          <label>
            <input name="question-8" value="De acuerdo" type="radio" />
            <span>De acuerdo</span>
          </label>
        </p>
        <p>
          <label>
            <input
              name="question-8"
              value="Ni de acuerdo ni en desacuerdo "
              type="radio"
            />
            <span>Ni de acuerdo ni en desacuerdo </span>
          </label>
        </p>
        <p>
          <label>
            <input name="question-8" value="En desacuerdo" type="radio" />
            <span>En desacuerdo</span>
          </label>
        </p>
        <p>
          <label>
            <input
              name="question-8"
              value="Totalmente en desacuerdo"
              type="radio"
            />
            <span>Totalmente en desacuerdo</span>
          </label>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-lg-9 mx-auto">
        <div class="txt-survey">
          9.- La duración del evento ¿te pareció buena?
        </div>
      </div>

      <div class="col-lg-8 col-md-9 mx-auto mt-3">
        <p>
          <label>
            <input
              name="question-9"
              value="Totalmente de acuerdo"
              type="radio"
              
            />
            <span>Totalmente de acuerdo</span>
          </label>
        </p>
        <p>
          <label>
            <input name="question-9" value="De acuerdo" type="radio" />
            <span>De acuerdo</span>
          </label>
        </p>
        <p>
          <label>
            <input
              name="question-9"
              value="Ni de acuerdo ni en desacuerdo "
              type="radio"
            />
            <span>Ni de acuerdo ni en desacuerdo </span>
          </label>
        </p>
        <p>
          <label>
            <input name="question-9" value="En desacuerdo" type="radio" />
            <span>En desacuerdo</span>
          </label>
        </p>
        <p>
          <label>
            <input
              name="question-9"
              value="Totalmente en desacuerdo"
              type="radio"
            />
            <span>Totalmente en desacuerdo</span>
          </label>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-lg-9 mx-auto">
        <div class="txt-survey">
          10.- ¿Te gustaría asistir a algún otro programa de Merz Aesthetics en
          el futuro?
        </div>
      </div>

      <div class="col-lg-8 col-md-9 mx-auto mt-3">
        <p>
          <label>
            <input
              name="question-10"
              value="Totalmente de acuerdo"
              type="radio"
              
            />
            <span>Totalmente de acuerdo</span>
          </label>
        </p>
        <p>
          <label>
            <input name="question-10" value="De acuerdo" type="radio" />
            <span>De acuerdo</span>
          </label>
        </p>
        <p>
          <label>
            <input
              name="question-10"
              value="Ni de acuerdo ni en desacuerdo "
              type="radio"
            />
            <span>Ni de acuerdo ni en desacuerdo </span>
          </label>
        </p>
        <p>
          <label>
            <input name="question-10" value="En desacuerdo" type="radio" />
            <span>En desacuerdo</span>
          </label>
        </p>
        <p>
          <label>
            <input
              name="question-10"
              value="Totalmente en desacuerdo"
              type="radio"
            />
            <span>Totalmente en desacuerdo</span>
          </label>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-11 col-md-8 col-lg-5 mx-auto my-5">
        <div class="btn-send-survey">Enviar</div>
      </div>
    </div>
  </form>
</div>

<div class="container surver-congrats my-5 hide">
  <div class="row">
    <div class="col mt-5"></div>
  </div>
  <img src="/img/done.png" class="done" />

  <h2 class="text-center txt-congrats">La encuesta se ha<br />
    enviado con exito!</h2>
  
  <div class="row">
    <div class="col my-5"></div>
  </div>
</div>