<div class="container cont-speak">
	<div class="row my-5">
		<div class="col" style="color: transparent">---</div>
	</div>	
	<div class="pregunta text-center my-5"></div>
	<div class="respuestas text-center">
		<img src="/img/vote.png" class="vota-img">
		<h5 class="txt-vote mb-5">No hay votación por el momento...</h5>
	</div>
	<div class="row my-5">
		<div class="col" style="color: transparent">---</div>
	</div>	
</div>