<nav class="app">
  <div class="nav-wrapper container-fluid nav-radiesse">
    <div class="row">
      <div class="col-12">
        <img src="/img/icons/logo.png" class="nav-agmen" />
      </div>
    </div>
  </div>
</nav>