<nav class="app">
  <div class="nav-wrapper container">
    <a href="/speaker/es/" class="brand-logo">
      <img src="/img/icons/logo.png" class="logo-plenaria">
    </a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons color-app">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li class="nav-item">
        <a class="nav-link nl" href="/speaker/es/filter">
          <i class="material-icons left">visibility</i>
          Filtro
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link nl" href="/speaker/es/expert">
          <i class="material-icons left">question_answer</i>
          Experto
        </a>
      </li>
       <li class="nav-item">
        <a class="nav-link nl" href="/speaker/es/wordcloud">
          <i class="material-icons left">question_answer</i>
          Wordcloud
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link nl" href="/speaker/es/vote">
          <i class="material-icons left">check_box</i>
          Votación
        </a>
      </li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li class="mb-3">
    <div class="user-view">
      <div class="background"></div>
      <img src="/img/logo.png" class="logo-sidenav">
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/speaker/es/filter">
      <i class="material-icons left">visibility</i>
      Filtro
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/speaker/es/expert">
      <i class="material-icons left">question_answer</i>
      Experto
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/speaker/es/vote">
      <i class="material-icons left">check_box</i>
      Votación
    </a>
  </li>  
</ul>