<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item admin">
            <a class="nav-link" href="/admin">
                <i class="ti-comments menu-icon"></i>
                <span class="menu-title">Alertas</span>
            </a>
        </li>
        <li class="nav-item votacion">
            <a class="nav-link " href="/admin/votacion">
                <i class="ti-panel menu-icon"></i>
                <span class="menu-title">Votación</span>
            </a>
        </li>
        <li class="nav-item wordcloud">
            <a class="nav-link " href="/admin/wordcloud">
                <i class="ti-help menu-icon"></i>
                <span class="menu-title">Wordclouds</span>
            </a>
        </li>
        <li class="nav-item preguntas">
            <a class="nav-link" href="/admin/preguntas">
                <i class="ti-plus menu-icon"></i>
                <span class="menu-title">Preguntas</span>
            </a>
        </li>
         <li class="nav-item preguntas-word">
            <a class="nav-link" href="/admin/preguntas-wordcloud">
                <i class="ti-plus menu-icon"></i>
                <span class="menu-title">Preguntas wordcloud</span>
            </a>
        </li>
        <li class="nav-item btn-reload">
            <a class="nav-link">
                <i class="ti-reload menu-icon"></i>
                <span class="menu-title">Reload app</span>
            </a>
        </li>
    </ul>
</nav>
<!-- partial -->