<div class="row" id="votacion">
    <div class="col-12 _vote animate__animated hide">
        <div class="card votacion hide animate__animated">
            <span class="card-title pregunta text-center mt-3 mb-2 flow-text"></span>
            <div class="card-content">            
                <div class="collection collectionV"></div>
                <div class="btn-floating reloj text-center halfway-fab">30</div>
                <input type="hidden" id="reloj_cuenta" value="30">
            </div>
        </div>

        <div class="card votacion-response hide animate__animated animate__fadeIn">
            <div class="response text-center my-5">
                <img src="/img/done.png" class="done" />
                <div class="txt-response">Gracias por responder.</div>
            </div>
            <div class="card-title pregunta hide text-center my-4 flow-text"></div>
            <div class="respuestas hide"></div>
            <div class="row">
                <div class="col my-3"></div>
            </div>
        </div>
    </div>
</div>