<div class="container-scroller">
  <div class="container-fluid page-body-wrapper">
    {{> navigation-admin }}
    {{> sidebar-admin }}
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-8 offset-md-2 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Agregar Preguntas</h4>
                <form class="forms-sample">
                  <div class="form-group">
                    <label for="pregunta">Pregunta</label>
                    <input type="text" class="form-control" id="pregunta-wordcloud" placeholder="Escribe la pregunta">
                  </div>
                  
                  <button type="submit" class="btn btn-primary mr-2 save-wordcloud">Guardar</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->