<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>.:: Agmen ::.</title>

    <link rel="shortcut icon" href="/img/favicon2.ico" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/jquery.fancybox.min.css">
    
    {{!-- Styles --}}
    <link rel="stylesheet" href="/css/alertify.min.css">
    <link rel="stylesheet" href="/css/styles.minify1s.css">
  </head>
  <body>
    {{> navigation-main }}
    {{> message }}
    {{{ body }}}
    
    <script type="text/javascript" src="/js/socket.io.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/alertify.min.js"></script>
    <script type="text/javascript" src="/js/jquery.fancybox.min.js"></script>
    
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/popper.min.js"></script>
    
    <script type="text/javascript" src="/js/client-production1j.js"></script>
  </body>
</html>