<div class="container">
    <div class="row">
        <div class="col-12 col-md-7 col-lg-5 my-5 mx-auto">
            <main class="form-signin mt-5">
                <form action="/signin" method="POST" id="signin-form1">
                    <input type="email" id="username" name="username" class="mb-3 input-app"
                        placeholder="correo electrónico" required autofocus autocomplete="off" />
                        
                    <input id="password" type="hidden" class="validate" name="password" value="agmen2022">

                    <button class="w-100 btn-signin" type="submit">Iniciar sesión</button>
                </form>
                <div class="form-group bold sigup mt-3 acount">
                    ¿No tienes una cuenta? <a href="/signup" style="color: #e53e2f">regístrate</a>
                </div>
            </main>
        </div>
    </div>
</div>